.app{
  min-height: 100vh;
  display: grid;
}
/* body{
  background-image: url(https://img.freepik.com/free-vector/flat-monsoon-season-background-with-man-standing-rain-with-umbrella_23-2149441092.jpg?t=st=1726165748~exp=1726169348~hmac=df11c2489591bcb57c4122b1c2f215926ca7285f3f7ad85715eaa2f36c1a2b6e&w=900);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
} */